body{

	background-color: #00aaff






}

#rectangle{

	width: 60%;
	height: 80%;
	border-style: solid;
	border-color: white;
	border-width: 30px;
	position: absolute;
	left: 18%;
	background: #0099ff





}

#Header{

	color: white;
	font-family: "Inconsolata";
	font-size: 35px;
	position: absolute;
	top: 1%;
	left: 37%;













}


#Contact1{

	color: white;
	font-family: "Inconsolata";
	font-size: 30px;
	position: absolute;
	left: 28%;
	top: 25%;






}





#Contact2{

	color: white;
	font-family: "Inconsolata";
	font-size: 30px;
	position: absolute;
	left: 28%;
	top: 40%;






}



#Contact3{

	color: white;
	font-family: "Inconsolata";
	font-size: 30px;
	position: absolute;
	left: 28%;
	top: 56%;






}


#Image{

	border-style: dashed;
	border-color: white;
	border-width: 10px;
	width: 25%;












}


#Image2{

	
	position: absolute;
	transform: rotate(350deg);
	border-style: dashed;
	border-color: white;
	border-width: 10px;
	top: 8%;
	left: 80%;











}

#Image3{

	transform: rotate(12deg);
	border-style: dashed;
	border-color: white;
	border-width: 10px;
	position: absolute;
	top: 58%;










}

.Menu{

	color: white;
	filter: alpha(opacity=50);
	list-style: none;
	display: inline-block;
	padding: 20px 0 20px 0;
	text-align: center;
	position: absolute;
	width: 1400;
	top: -15;








}



.Menu > li{

	display: inline-block;
	padding-right: 50px;








}
.Menu > li > a{

	color: grey;
	font-family: 'Inconsolata';
	font-size: 30px;
	text-decoration: none;





}

.Menu > li > a:hover{

	color: white;


}
